@import "tailwindcss";

:root {
  /* --font-inter: 'Inter', sans-serif; */
  /* --font-sans: var(--font-geist-sans); */
  /* --font-mono: var(--font-geist-mono) */
  --background: #ffffff;
  --foreground: #171717;
  --gradient-main: linear-gradient(90deg, #f175b9, #8089ff, #3df7ff);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

.button {
  /* background: linear-gradient(90deg, #f175b9, #8089ff, #3df7ff); */
  background: var(--gradient-main);
  cursor: pointer;
}
