@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme {
	--color-electric: #0e7a82;
	--color-pink: #f175b9;
	--color-grey-light: #ece9e3;
	--color-green-lightest: #a8c6c4;
	--color-greenlight: #1e6864;
	--color-greendark: #0a3634;
	--color-gradient: linear-gradient(90deg, #f175b9, #8089ff, #3df7ff);
	--color-bginput: #d7eeeb33;
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

h3 {
	font-size: 1.25rem;
	font-weight: 600;
	line-height: 1.5rem;
	color: var(--color-greendark);
}

input {
	background-color: var(--color-bginput);
	border: 1px solid var(--color-greenlight);
	border-radius: 1rem;
	padding: 1.125rem 1rem;
}

input:focus {
	border: solid 1px transparent;
	border-radius: 1rem;
	background-image: linear-gradient(white, white), var(--color-gradient);
	background-origin: border-box;
	background-clip: padding-box, border-box;
	outline: none;
}

.background-gradient {
	background: var(--color-gradient);
}

.active-shadow {
	box-shadow: 0 0 15px rgba(107, 158, 255, 0.6);
}
