@import 'tailwindcss';

:root {
	/* --font-inter: 'Inter', sans-serif; */
	/* --font-sans: var(--font-geist-sans); */
	/* --font-mono: var(--font-geist-mono) */
	--background: hsl(0, 0%, 100%);
	--foreground: #171717;
	--color-electric: #0e7a82;
	--color-pink: #f175b9;
	--gradient-main: linear-gradient(90deg, #f175b9, #8089ff, #3df7ff);
}

@theme {
	--electric: #0e7a82;
	--electric-light: #66b2a6;
	--electric: #0e7a82;
	--electric-dark: #005f4c;
}

.text-electric {
	color: var(--color-electric);
}

.bg-electric {
	background-color: var(--color-electric);
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

.button {
	/* background: linear-gradient(90deg, #f175b9, #8089ff, #3df7ff); */
	background: var(--gradient-main);
	cursor: pointer;
}

.active-shadow {
	box-shadow: 0 0 15px rgba(107, 158, 255, 0.6); /* Soft shadow with blue tint */
}
